extends layout

block content
  h1= title

  ul
    each author in author_list
      li
        a(href=author.url) #{author.name}
        |  (#{author.date_of_birth_formatted} - #{author.date_of_formatted})

    else
      li There are no authors.
