extends layout

block content
  h1 #{title}: #{book.title}
  p= book.isbn

  if book_instances.length

    p #[strong Delete the following book copies before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Book copies

      dl
      each copy in book_instances
        hr
        p #[strong Imprint:] #{copy.imprint}
        p #[strong Id:]
          a(href=copy.url) #{copy._id}

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
