extends layout

block content
  h1 #{title}: #{bookinstance.book.title}
  p #[strong Imprint:] #{bookinstance.imprint}

    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

      button.btn.btn-primary(type='submit') Delete
