extends layout

block content
  h1 #{title}: #{genre.name}

  if genre_books.length

    p #[strong Delete the following book copies before attempting to delete this genre.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Book copies

      dl
      each book in genre_books
        hr
        p #[strong Imprint:] #{book.imprint}
        p #[strong Id:]
          a(href=book.url) #{book._id}

  else
    p Do you really want to delete this Genre?

    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='genreid', required='true', value=genre._id )

      button.btn.btn-primary(type='submit') Delete
